black
ipywidgets
lpips
pandas
matplotlib
--extra-index-url https://download.pytorch.org/whl/cu113
torch
imageio
imageio-ffmpeg==0.4.4
pyspng==0.1.0
lpips
datetime
timm
ipywidgets
omegaconf>=2.0.0
pytorch-lightning>=1.0.8
torch-fidelity
einops
wandb
pandas
ftfy
pytorch3d
climage
wget
pydotted
loguru
gdown
argparse
deepdiff
twilio
torch
matplotlib
opencv-python
nvidia-ml-py3
git+https://github.com/openai/CLIP
git+https://github.com/mlfoundations/open_clip.git
git+https://github.com/entmike/guided-diffusion.git@packagify
git+https://github.com/ahupp/ResizeRight@packagify
git+https://github.com/ahupp/MiDaS@packagify 
git+https://github.com/pytti-tools/AdaBins@installable 
